
.latestResult {
    display: inline-block;
}

.results {
    height: 30px;
    display: inline-block;
    margin: 10px;
}

.ball {
    // background-color: green;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 20px;
    margin: 10px 10px;
}

h5 {
    font-size: x-large;
}
